@charset "UTF-8";

@media screen and (max-width: 600px) {

   /*mobile*/
   * {
      margin: 0;
      padding: 0;
   }

   body {}

   header {
      width: 100%;
      height: 80vh;
      overflow: hidden;
   }

   .img-wrapper {
      width: 100%;
      height: 80vh;
   }

   .img-wrapper img {
      width: 100%;
      height: 100%;
   }

   .banner {
      top: 15%;
      left: 15%;
   }

   .banner h1 {
      font-size: 2rem;
   }

   .banner p {
      font-size: 1.5rem;
   }

   .banner button {
      font-size: 0.8rem;
      padding: 0.5rem 0.5rem;
   }

}

@media (min-width:600px) and (max-width: 768px) {}

@media (min-width:768px) and (max-width: 992px) {}


@media (min-width:992px) and (max-width: 1200px) {}

@media (min-width:1200px) {}